APP_NAME=multitenant-server
APP_ENV=development
APP_PORT=3000
APP_URL=http://localhost:${APP_PORT}/
APP_LANG=id
APP_LOG=TRUE

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=nest_base
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

JWT_SECRET=rroLssB6bzGcCvtPTMJ7Kw
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=adjkhasjdlsjdl
JWT_REFRESH_EXPIRES_IN=6d

AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ACCOUNTANCY_API_URL =
EMAIL_HOST=smtp.ethereal.email
EMAIL_HOST_PORT=587
EMAIL_USER=lou.marks10@ethereal.email
EMAIL_PASS=bWB5YGHKQCdjhTQHgQ

CLUSTERIZE=FALSE
CLUSTER_NUMBER=2